{% extends "stimulus_basic/base.html" %}
{% block content %}
<div class="w-full max-w-7xl mx-auto px-4">
<h1 class="text-4xl sm:text-6xl lg:text-7xl mb-6">Counter</h1>
<button
class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-lg"
data-controller="counter"
data-action="click->counter#increment"
data-counter-hidden-class="hidden"
>
<span data-counter-target="initialDiv">
Click Me
</span>
<span data-counter-target="progressDiv" class="hidden">
You clicked <span class="font-bold" data-counter-target="count"></span> times!
</span>
</button>
<h1 data-controller="counter" data-action="click->counter#increment" data-counter-hidden-class=
"hidden" class="text-4xl sm:text-6xl lg:text-7xl mb-6">
<span data-counter-target="initialDiv">
Click Me
</span>
<span data-counter-target="progressDiv" class="hidden">
You clicked <span class="font-bold" data-counter-target="count"></span> times!
</span>
</h1>
<div data-controller="counter" data-action="click->counter#increment" data-counter-hidden-class=
"hidden" class="text-4xl" >
<span data-counter-target="initialDiv">
Click Me
</span>
<span data-counter-target="progressDiv" class="hidden">
You clicked <span class="font-bold" data-counter-target="count"></span> times!
</span>
</div>
</div>
{% endblock %}